@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
  overflow-x: hidden;
  font-family: 'Roboto Mono';
}

body { margin: 0; padding-bottom: 3rem; font-family: 'Roboto Mono'; }

#form { padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box;}
input { border-left: none; border-right: none; border-top: none; border-bottom: solid black 1px; width: 100vw; height: 3vh; font-size:20px; bottom: 1vh; position: relative; background: transparent }
input:focus { outline: none; }
#form > button { background: white; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; display: none; }

#messages { list-style-type: none; margin: 0; padding: 0; position: relative; }
#messages > li { padding: 0.5rem 1rem; }
li:hover {background-color: rgb(245, 245, 245);}

a {
  color: black;
  text-decoration: underline;
  transition: 0.5s color;
}a:hover {
  transition: 0.5s color;
  color: rgb(129, 129, 129);
}

::placeholder {
  text-align: center;
}

.darkmode--activated li {
  color: white;
}.darkmode--activated li:hover {
  background-color:rgb(24, 24, 24);
}.darkmode--activated ::placeholder {
  color: white;
  opacity: 100%;
}.darkmode--activated #form > input {
  color: white;
  border-bottom: solid white 1px;
}.darkmode--activated p {
  color: white;
}.darkmode--activated h1 {
  color: rgb(245, 245, 245)
}

@media only screen and (max-width: 500px) {
  body {
    background: transparent;
  }

  #form {
    width: 100vw;
    height: 1vh;
    z-index: 10;
  }

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }

  input {
    font-size: 20px;
  }
  #form > button {
    display: block;
    position: absolute;
    bottom: 2vh;
    width: 100vw;
    height: 10vh;
  }
  
  input {
    width: 100vw;
    bottom: 3vh;
    z-index: 10;
  }

  ::placeholder {
    text-align: left;
  }
}