@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  overflow-x: hidden;
  font-family: 'Roboto';
  font-weight: 400;
}

body {
  margin: 0;
  padding-bottom: 3rem;
}

input { 
  border-left: none; 
  border-right: none; 
  border-top: none; 
  border-bottom: solid #0B0A07 1.5px; 
  width: 100vw; 
  height: 3vh;
  font-size: 16px;
  text-align: center;
  bottom: -95vh;
  position: relative;
  background: transparent;
  z-index: 500;
}

*:focus {
  outline: none;
}

a {
  color: black;
  text-decoration: underline;
}a:hover {
  color: rgb(129, 129, 129);
}a:focus {
  outline: none;
}

h1 {
  text-align: center;
}

#form {
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 100vh;
  box-sizing: border-box;
}#form > button {
  background: white;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  display: none;
}

#signin {
 top: 2.5vh;
 z-index: 1;
 text-align: center;
 position: relative;
}

#messages {
  list-style-type: none;
  padding: 0;
  position: relative;
  top: 6.5vh;
  z-index: 500;
}#messages > li {
  padding: 1rem 1rem;
  z-index: 499;
}#messages > li:hover {
  background-color: rgb(245, 245, 245);
  z-index: 499;
}

#no_messages {
  overflow: hidden;
  line-height: 80vh;
  height: 100%;
  text-align: center;
  font-weight: 100;
}#no_messages h1 {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

::placeholder {
  text-align: center;
  opacity: 100%;
  color: black;
  z-index: 500;
}

.g-signin2 > div{
  margin: 0 auto;
  box-shadow: none;
}.g-signin2 > div:hover {
  margin: 0 auto;
  box-shadow: none;
}

.pfp_text {
  text-align: center;
  position: relative;
  top: 2vh;
  left: 2vw;
}

.pfp {
  position: fixed; 
  top: 1vh;
  left: 44vw;
  width: 4vw
}.pfp:hover {
  cursor: pointer;
}

.header {
  position: fixed;
  height: 10vh;
  width: 100vw;
  text-align: center;
  background-color: white;
  top: 0%;
}

.dark {
  transition: .1s;
  color: white;
  background-color: black;
}.dark input {
  transition: .1s;
  border-bottom: solid white 1.5px; 
  color: white;
}.dark #messages > li:hover {
  transition: .1s;
  background-color: rgb(26, 26, 26);
}.dark ::placeholder {
  color: white; 
}.dark .header {
  transition: .1s;
  background-color: black;
}

@media screen and (max-width: 767px) {
  * {
    overflow: hidden;
  }

  #messages {
    top: 10vh;
  }

  input, select, textarea {
    font-size: 16px;
  }

  input:focus {
    font-size: 16px;
  }

  input[type='text'],
  input[type='number'],
  input {
    border-radius: 0;
    font-size: 16px;
    height: 2vh;
  }

  .pfp {
    top: 1vh;
    left: 32.5vw;
    position: absolute;
    width: 14vw;
  }

  .pfp_text {
    text-align: center;
    position: relative;
    top: 1.5vh;
    left: 10vw;
  }

  img {
    width: 100px;
    height: auto;
  }
}